@import './shared/styles/index.css';

:root {
  font-family: var(--font-sans);
  font-weight: var(--fw-regular);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  display: block;

  background: var(--color-bg, #ffffff);
  color: var(--color-text, #111111);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}
